.payment-successful-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-image {
  height: 64px;
  width: 64px;
}
.payment-successful-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.payment-successful-description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}
.goto-homepage-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  background: #f7931e;
  border-radius: 8px;

  /* Inside Auto Layout */
}
.link-item {
  text-decoration: none;
}
